.App {
  text-align: center;
  color: white;
  font-family: 'VT323', monospace;
}

.Nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.Nav-header, .Nav-button {
  align-self: center;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.Nav-header {
  font-size:  28px;
}

.Nav-button {
  border: 2px solid white;
}

.Game {
  padding-top: 60px;
  font-size: 50px;
}

.DisplayArea {
  position: absolute;
  top: 60px;
  bottom: 200px;
  left: 0px;
  right: 0px;
  padding: 0px 50px;
  background: #414c50;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  row-gap: 50px;
}

.DisplayArea-expression {
  width: 90%;
  text-align: center;
}

.DisplayArea-expression .Gray {
  color: #aaa;
}

.DisplayArea-result {
  width: 200px;
  text-align: center;
  height: 100px;
  border: 2px dotted white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DisplayArea-message {
  width: 70%;
  text-align:center;
}

@media (max-width: 480px) {
  .DisplayArea {
    font-size: 50px;
  }

  .DisplayArea-result {
    width: 25%;
    height: 60px;
  }
}

.Controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #192428;
}

.Controls-row {
  width: 800px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

.NumberButton, .OperatorButton, .ResetButton, .BackspaceButton {
  height: 50px;
  cursor: pointer;
  border: 2px solid black;
  background: #2d383c;
  align-self: center;
  font-size: 40px;
  padding: 10px 0px;
  color: white;
}

.NumberButton, .ResetButton, .BackspaceButton {
  width: 22%;
}

.OperatorButton {
  width: 14%;
}